# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
.venv/

# ======================
# Logs
# ======================
*.log
data_collection.log

# ======================
# Vector DB 
# ======================
prepare_data/chroma_db_langchain/
prepare_data/chroma_db/
prepare_data/hanoi_tourism_data/
prepare_data/embeddings.json

# ======================
# Generated / temp files
# ======================
prepare_data/tempCodeRunnerFile.py
prepare_data/__pycache__/
